
/* Georgia, "Times New Roman", Times, serif */
body {
	margin-top: 0px;
	background: #FFFFFF url(/resources/images/tcm/bgorg.jpg) repeat left top;
	font-family: century gothic;
	font-size: 15px;
	color: brown;
}

/* text-transform: lowercase; */
/* "Trebuchet MS", Georgia, "Times New Roman", Times, serif; */
h1, h2, h3 {
	margin: 0;
	letter-spacing: -.05em;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	background: url(/resources/images/tcm/.gif) repeat-x left bottom;
	text-decoration: none;
	color: #000000;
}

a:hover {
	background: none;
	color: #FFFFFF;
}

/* Header */

#header {
	width: 800px;
	height: 335px;
	margin: 0 auto;
	background: url(/resources/images/tcm/banner_top.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	color: #74788F;
}

/* text-transform: lowercase; */
#logo h1 {
	float: left;
	padding-top: 100px;
	padding-left: 490px;	
	font-family: century gothic
	font-size: 2.9em;
	color: brown;
}

#logo p {
	float: left;
	margin: 0;
	padding: 138px 0 0 2px;
	text-transform: lowercase;
	letter-spacing: -.05em;
	font-size: 16px;
} 

#logospecial {
	font-family: century gothic;
	font-size: .7em;
}

#logo a {
	background: none;
	text-decoration: none;
	color: brown;
	font-family: century gothic;
	font-size: .9em;
	font-weight: normal;
}

/* Menu */

#menu {
	width: 800px;
	height: 30px;
	margin: 0 auto;
	background: #FFFFFF url(/resources/images/tcm/menubar.jpg) repeat-y left top;
}

#menu ul {
	margin: 2;
	padding: 5px 0 0 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	padding: 20px 20px;
	margin-right: 2px;
	text-transform: lowercase;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	/*color: #757890;*/
	color: #CCFFFF;
}

#menu a:hover, #menu .current_page_item a {
	color: #FFFFFF;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: none;
}

/* Wraper */

#wrapper {
	width: 800px;
	margin: 0 auto;
	background: url(/resources/images/tcm/spacer.jpg) repeat-y left top;
}


/* Page */

#page {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	background: url(/resources/images/tcm/.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: right;
	width: 600px;
	margin-right: 130px;
}

.post {
}

.post .title {
	padding: 5px 0 5px 0;
	border-bottom: 2px solid brown;
	color: brown;
}

.post .title a {
	color: brown;
}

.post h2 {
	font-size: 1.8em;
}

.post .meta {
	padding: 2px 10px;
	background: #0D0D0D;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-transform: uppercase;
	text-align: left;
	font-size: 9px;
}

.post .entry {
	padding: 20px 10px;
	text-align: justify;
}

/* Footer */

#footer {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
	height: 60px;
	font-family: Arial, Helvetica, sans-serif;
	color: #663366;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #D6969B;
}